body {
	background-color: black;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

button {
	border: none;
}

p {
	margin: 0px;
}

#container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-height: 80vh;
}

#input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	color: white;
}

#input-container button {
	width: 100%;
}

#text-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	color: white;
}

#update-container {
	color: white;
	display: flex;
	flex-direction: column;
	height: 0rem;
	overflow: auto;
	transition: height 1s ease-out;
}

#update-container.show {
	height: 10rem;
}
